# Global values; they are supposed to be the same across all environments
# Provide as "env.hcl"

locals {
  aws_region   = "eu-central-1"
  state_bucket = "backend-bucket" # Enter exact bucket name
  lock_table   = "tf-lock" # Enter exact lock table name
}